#################
## Clojure
#################
/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port


#################
## Elm
#################
elm-stuff/
elm.js
tests/test.js
/resources/public/src/App.js

#################
## Exclude from Git
#################
/git-ignore-folder

#################
## Ensure backup directory
#################
backup/*
!backup/readme.md
