({:id 1, :title "Product1", :description "Product 1 Description" :features ({:description "Feature 1 Description", :multiplier 0.15, :title "Feature 1 Title", :feature-type "Type1", :note "Note1", :id 1, :base-feature true, :monitor-source "All", :spreadsheet-cost 150.0, :cost 150.0, :quantity 1} {:description "Feature 2 Description", :multiplier 0.15, :title "Feature 2 Title", :feature-type "Type2", :note "Note2", :id 1, :base-feature true, :monitor-source "All", :spreadsheet-cost 150.0, :cost 150.0, :quantity 1} {:description "Feature 3 Description", :multiplier 2.5, :title "Feature 3 Title", :feature-type "Type3", :note "Note3", :id 14, :base-feature false, :monitor-source "All", :spreadsheet-cost 2500.0, :cost 2500.0, :quantity 1})},
{:id 2, :title "Product2", :description "Product 2 Description" :features ({:description "Feature 1 Description", :multiplier 0.15, :title "Feature 1 Title", :feature-type "Type1", :note "Note1", :id 1, :base-feature true, :monitor-source "All", :spreadsheet-cost 150.0, :cost 150.0, :quantity 1} {:description "Feature 2 Description", :multiplier 0.15, :title "Feature 2 Title", :feature-type "Type2", :note "Note2", :id 1, :base-feature false, :monitor-source "All", :spreadsheet-cost 150.0, :cost 150.0, :quantity 1} {:description "Feature 3 Description", :multiplier 2.5, :title "Feature 3 Title", :feature-type "Type3", :note "Note3", :id 14, :base-feature false, :monitor-source "All", :spreadsheet-cost 2500.0, :cost 2500.0, :quantity 1})},
{:id 3, :title "Product3", :description "Product 3 Description" :features ({:description "Feature 1 Description", :multiplier 0.15, :title "Feature 1 Title", :feature-type "Type1", :note "Note1", :id 1, :base-feature false, :monitor-source "All", :spreadsheet-cost 150.0, :cost 150.0, :quantity 1} {:description "Feature 2 Description", :multiplier 0.15, :title "Feature 2 Title", :feature-type "Type2", :note "Note2", :id 1, :base-feature true, :monitor-source "All", :spreadsheet-cost 150.0, :cost 150.0, :quantity 1} {:description "Feature 3 Description", :multiplier 2.5, :title "Feature 3 Title", :feature-type "Type3", :note "Note3", :id 14, :base-feature false, :monitor-source "All", :spreadsheet-cost 2500.0, :cost 2500.0, :quantity 1})})
